version: v2
address: ":{{ api_port }}"
rootUser: "minioadmin"
rootPassword: "minio-secret-key-minioadmin"
console-address: ":{{ console_port }}"
pools: # Specify the nodes and drives with pools
  - args:
    - "{{ schema }}://{{ host_prefix }}-0-{0...{{ host_count_0-1 }}}.{{ host_domain }}:{{ api_port }}/tmp/data{0...1}/minio"