#!/bin/bash

echo "Begin" > /tmp/minio.log
echo "Killing minio" >> /tmp/minio.log
sudo kill "$(ps aux | grep -v grep | grep "minio" | awk '{print $2}')"
sudo rm -rf /tmp/data*
mkdir -p /tmp/data0 && mkdir -p /tmp/data1 && mkdir -p /tmp/data2 && mkdir -p /tmp/data3
sudo rm -rf ~/.minio/*

# Reconfigure expansion candidates only
if [[ "HOSTSHORT"=~"{{ expansion_prefix_0 }}" ]]
then
	echo "Installing certs" >> /tmp/minio.log
	wget https://github.com/minio/certgen/releases/latest/download/certgen-linux-amd64
	chmod +x certgen-linux-amd64
	./certgen-linux-amd64 -host "127.0.0.1,{{ host_list }}"
	mkdir -p $HOME/.minio/certs/CAs
	cp public.crt $HOME/.minio/certs
	cp private.key $HOME/.minio/certs

	# Add entry to hosts
	if grep -q "127\.0\.0\.1 HOSTNAME" /etc/hosts;
	then
		echo "/etc/hosts already setup" >> /tmp/minio.log
	else
		echo "127.0.0.1 HOSTNAME" | sudo tee -a /etc/hosts
	fi

	# Install go
	echo "Installing go" >> /tmp/minio.log
	cd ~ && mkdir go && cd go && wget https://go.dev/dl/go1.20.13.linux-amd64.tar.gz >> /tmp/minio.log && sudo rm -rf /usr/local/go && sudo tar -C /usr/local -xzf go1.20.13.linux-amd64.tar.gz >> /tmp/minio.log
	/usr/local/go/bin/go version >> /tmp/minio.log
	cd ~

	# Install modified minio
	echo "Installing previous minio" >> /tmp/minio.log
	sudo apt-get install git -y >> /tmp/minio.log
	cd $HOME && mkdir github && cd github && git clone {{ minio_repo }} && cd minio && git checkout {{ minio_branch }}
	CGO_ENABLED=0 /usr/local/go/bin/go build -tags kqueue -trimpath -o minio >> /tmp/minio.log
	cd ~

	# Run minio
	echo "Running minio" >> /tmp/minio.log
	echo "_MINIO_REVERSE_PROXY=1 MINIO_CI_CD=1 MINIO_BROWSER_REDIRECT_URL=\"{{ schema }}://{{ host_prefix }}-0-0.{{ host_domain }}:9090\" MINIO_SERVER_URL=\"{{ schema }}://{{ host_prefix }}-0-0.{{ host_domain }}:9000\" \
				./minio server \
				{{ schema }}://{{ host_prefix }}-0-{0...{{ host_count_0-1 }}}.{{ host_domain }}:9000/tmp/data{0...3} \
				--address :9000 --console-address :9090 --certs-dir $HOME/.minio/certs" >> /tmp/minio.log
	# Cluster
	_MINIO_REVERSE_PROXY=1 MINIO_CI_CD=1 MINIO_BROWSER_REDIRECT_URL="{{ schema }}://{{ host_prefix }}-0-0.{{ host_domain }}:9090" \
	MINIO_SERVER_URL="{{ schema }}://{{ host_prefix }}-0-0.{{ host_domain }}:9000" \
	nohup ./minio server \
	{{ schema }}://{{ host_prefix }}-0-{0...{{ host_count_0-1 }}}.{{ host_domain }}:9000/tmp/data{0...3} \
	--address :9000 --console-address :9090 --certs-dir $HOME/.minio/certs >> /tmp/minio.log &
else
	echo "Not included in cluster creation" >> /tmp/minio.log
fi
echo "Done" >> /tmp/minio.log
