#!/bin/bash

echo "Begin" > /tmp/minio.log
echo "Killing minio" >> /tmp/minio.log
sudo kill "$(ps aux | grep -v grep | grep "minio" | awk '{print $2}')"

echo "Installing certs" >> /tmp/minio.log
wget https://github.com/minio/certgen/releases/latest/download/certgen-linux-amd64
chmod +x certgen-linux-amd64
./certgen-linux-amd64 -host "127.0.0.1,{{ host_list }}"
mkdir -p $HOME/.minio/certs/CAs
cp public.crt $HOME/.minio/certs
cp private.key $HOME/.minio/certs

# Add entry to hosts
if grep -q "127\.0\.0\.1 HOSTNAME" /etc/hosts;
then
	echo "/etc/hosts already setup" >> /tmp/minio.log
else
	echo "127.0.0.1 HOSTNAME" | sudo tee -a /etc/hosts
fi

# Install go
echo "Installing go" >> /tmp/minio.log
cd $HOME && mkdir go && cd go && wget https://go.dev/dl/go1.21.3.linux-amd64.tar.gz && sudo rm -rf /usr/local/go && sudo tar -C /usr/local -xzf go1.21.3.linux-amd64.tar.gz
/usr/local/go/bin/go version

# Install modified minio
echo "Installing minio" >> /tmp/minio.log
sudo apt install git
cd $HOME && mkdir github && cd github && git clone {{ minio_repo }} && cd minio && git checkout {{ minio_branch }}
CGO_ENABLED=0 /usr/local/go/bin/go build -tags kqueue -trimpath -o minio

# Run minio
echo "Running minio" >> /tmp/minio.log
MINIO_IS_LXC=1 MINIO_CI_CD=1 MINIO_SERVER_URL="{{ schema }}://{{ host_prefix }}.{{ host_domain }}:9000" \
./minio server \
{{ schema }}://{{ host_prefix }}{0...{{ host_count-1 }}}.{{ host_domain }}:9000/tmp/data{1...2} \
--address :9000 --console-address :9090 --certs-dir $HOME/.minio/certs >> /tmp/minio.log &

echo "Done" >> /tmp/minio.log